.templateBox{text-align: left;}
.weektasklist{ background: #f5f5f5;}

.taskBox{ background: #fff; margin:10px; padding: 0px 15px; font-size: 14px;}
.taskBox-t{ color: #1996ea; padding: 8px 0px; border-bottom: 1px solid #eee;}
.taskBox-c{ padding-bottom: 15px;}
.taskBox-c-item{ padding: 15px 0px 0px;}
.taskBox-c-item-btn{ padding: 3px 10px; background: #1996ea; color: #fff; border-radius: 6px; font-size: 12px; border: 1px solid #1996ea;}
.taskBox-c-item-defaultBtn{ padding: 3px 10px; background: #fff; color: #333; border-radius: 6px; font-size: 12px; border: 1px solid #eee;}

.faqBox-content{ background: #f5f5f5; padding: 10px;}
.auditBox-text{ border: 1px solid #f5f5f5; padding: 5px; height: 90px; width: 100%;}

.pipepatient-item{ padding: 15px; border: 1px solid #eee;}
.bgGray{ background: #f5f5f5;}
